@model IEnumerable<AppDepartmentEmployee.Models.Employees>
     
@{
    ViewBag.Title = "Index";
}

<h2 align="center">Panel de Administración de Empleados</h2>

<p>
    <button type="button" onclick="popup('employees/create','GET')" class="btn btn-success">Crear Nuevo</button>
    @*<a href="@Url.Action("Create", "Employees")" type="button" class="btn btn-success">Crear Nuevo</a>*@
    @* @Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departments.nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departments.nombre)
            </td>
            <td>
                <a href="#" onclick="popupid('employees/Edit/',@item.id, 'GET')">Editar</a> |
                @*@Html.ActionLink("Editar","",new { id = item.id }, new { @onclick = "popup()" }) |*@
                <a href="#" onclick="popupid('employees/details/',@item.id,'GET')">Detalles</a> |
                <a href="#" onclick="popupid('employees/Delete/',@item.id,'GET')">Eliminar</a> 
            </td>
        </tr>
    }

</table>
